<!-- here we are asssuming filter as a child and products as parent -->
<!-- name we have taken for ButtonClick() fn -->

<div class="btn-group-vertical">
    <button (click)="ButtonClick($event)" name="electronics" class="btn btn-link w-100">Electronics[{{ElectronicsCount}}]</button>
    <button (click)="ButtonClick($event)" name="jewelery" class="btn btn-link w-100">Jewelery[{{JeweleryCount}}]</button>
    <button (click)="ButtonClick($event)" name="mens's clothing" class="btn btn-link w-100">Men clothing[{{MensCount}}]</button>
    <button (click)="ButtonClick($event)" name="women'c clothing" class="btn btn-link w-100">Women clothing[{{MensCount}}] </button>
</div>